<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<header>
    <h1>
        <%= title %>
    </h1>
</header>
<nav>
    <span>
      <a href="/" title="主页">home</a>
      <a href="/archive" title="存档">archive</a>
      <a href="/tags" title="标签">tags</a>
        <% if (user){ %>
        <a href="/upload" title="上传文件">upload</a>
        <a href="/post" title="发表">post</a>
      <a href="/logout" title="登出">logout</a>
        <% }else{ %>
        <a href="/login" title="登录">login</a>
      <a href="/reg" title="注册">register</a>
        <% } %>
    </span>
</nav>
<article>
    <% if(success){ %>
    <div><%= success %></div>
    <% } %>
    <% if(error){ %>
    <div><%= error %></div>
<% } %>