* {
    padding: 0;
    margin: 0;
}

body {
    width: 600px;
    margin: 2em auto;
    font-size: 14px;
}

p {
    line-height: 24px;
    margin: 1em 0;
}

header {
    padding: .5em 0;
    border-bottom: 1px solid #ccc;
}

nav {
    float: left;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-left: -12em;
    width: 9em;
    text-align: right;
}

nav a {
    display: block;
    text-decoration: none;
    padding: .7em 1em;
    color: #000;
}

nav a:hover {
    background-color: #ff0000;
    color: #f9f9f9;
    -webkit-transition: color .2s linear;
}

article {
    font-size: 16px;
    padding-top: .5em
}

article a {
    color: #dd0000;
    text-decoration: none;
}

article a:hover {
    color: #333333;
    text-decoration: underline;
}
.info{
    font-size: 14px;
}